
<script src="Scripts/jquery-1.10.2.min.js"></script>
<script src="Scripts/bootstrap.min.js"></script>
<script src="Scripts/Main/backend.js"></script>
<script src="Scripts/Main/main.js"></script>

<div>
    <h1>Air Handling Units</h1>
    <p><a class="btn btn-default" onClick="getAllAirHandlingUnits()">Get All</a></p>
    <ul id="AirHandlingUnitList">
    </ul>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">

            <h3 class="panel-title">Heat Exchangers</h3><br />
            <div>
                <span>Description:</span><br />
                <input id="HeatExchangerDescription" type="text" /><br />
                Power:<br />
                <input id="HeatExchangerPower" type="text" /><br />
                Type:<br />
                <select id="selectHeatExchangerType">
                    <option value="Shell">Shell</option>
                    <option value="Tube">Tube</option>
                </select><br />
            </div><br />
            <p><a class="btn btn-default" onClick="addHeatExchangerPart()">Add New</a></p>
            <select id="HeatExchangerList" multiple size="10"></select>
        </div>
    </div>
</div>
    <div class="col-md-4">
        <h2>Fans</h2>
    </div>
    <div class="col-md-4">
        <h2>Filters</h2>
    </div>
</div>
