
<script src="Scripts/jquery-1.10.2.min.js"></script>
<script src="Scripts/bootstrap.min.js"></script>
<script src="Scripts/Main/airhandlingunits.js"></script>
<script src="Scripts/Main/filters.js"></script>
<script src="Scripts/Main/heatexchangers.js"></script>
<script src="Scripts/Main/fans.js"></script>
<script src="Scripts/Main/airhandlingunitagent.js"></script>
<script src="Scripts/Main/main.js"></script>
<br/>
<div class="row">
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">

                <h3 class="panel-title">Air Handling Units</h3><br />
                <div>
                    <span>Description:</span><br />
                    <input id="AirHandlingUnitDescription" type="text" /><br />
                </div><br />
                <p><a class="btn btn-default btn-sm" onClick="addAirHandlingUnit()">Create New</a></p>
                <select id="AirHandlingUnitList" multiple size="10"></select>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">

                <h3 class="panel-title">Heat Exchangers</h3><br />
                <div>
                    <span>Description:</span><br />
                    <input id="HeatExchangerDescription" type="text" /><br />
                    Power:<br />
                    <input id="HeatExchangerPower" type="text" /><br />
                    Type:<br />
                    <select id="selectHeatExchangerType">
                        <option value="Shell">Shell</option>
                        <option value="Tube">Tube</option>
                    </select><br />
                </div><br />
                <p><a class="btn btn-default btn-sm" onClick="addHeatExchangerPart()">Add New</a></p>
                <select id="HeatExchangerList" multiple size="10"></select>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">

                <h3 class="panel-title">Fans</h3><br />
                <div>
                    <span>Description:</span><br />
                    <input id="FanDescription" type="text"/><br/>
                    Type:<br />
                    <select id="selectFanType">
                        <option value="Box">Box</option>
                        <option value="Floor">Floor</option>
                    </select><br />

                </div><br />
                <p><a class="btn btn-default btn-sm" onClick="addFan()">Add New</a></p>
                <select id="FanList" multiple size="10"></select>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">

                <h3 class="panel-title">Filters</h3><br />
                <div>
                    <span>Description:</span><br />
                    <input id="FilterDescription" type="text"/><br/>
                    Length:<br />
                    <input id="FilterLength" type="text" /><br />
                </div><br />
                <p><a class="btn btn-default btn-sm" onClick="addFilter()">Add New</a></p>
                <select id="FilterList" multiple size="10"></select>
            </div>
        </div>
    </div>
</div>
